@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
body {
    background-color: rgba(230, 230, 230, 1);
}
flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    margin: 1.5em;
    padding: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 5px;
}
.card > h1 {
    font-family: 'Special Elite', cursive;
}

.alert-banner {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 42, 42, 0.5);
    justify-content: center;
    text-align: center;
}
button {
    padding: 10px;
    border: 3px solid black;
    background: transparent;
    transition: 0.3s;
}
button:hover {
    background-color: black;
    color:white;
    border: 3px solid white;
    cursor: pointer;
}
